<div class="row main-view">
  <div class="col s12 m4">
    <div class="card agenda-card">
      <div class="card-image">
        <img src="http://placeimg.com/320/135/any">
        <span class="card-title">Agenda</span>
        <a class="btn-floating halfway-fab waves-effect waves-light deep-orange accent-3"><i class="material-icons">today</i></a>
      </div>
      <div class="card-content">
        <h5>Lunes 21</h5>
        <ul class="collection">
          <li class="collection-item"> <b>8:00 am</b> Conferencia xyz.</li>
          <li class="collection-item"> <b>10:00 am</b> Conferencia xyz.</li>
          <li class="collection-item"> <b>12:00 pm</b> Almuerzo xyz.</li>
          <li class="collection-item"> <b>2:00 pm</b> Conferencia xyz.</li>
        </ul>

        <h5>Martes 22</h5>
        <ul class="collection">
          <li class="collection-item"> <b>8:00 am</b> Conferencia xyz.</li>
          <li class="collection-item"> <b>10:00 am</b> Conferencia xyz.</li>
          <li class="collection-item"> <b>12:00 pm</b> Almuerzo xyz.</li>
          <li class="collection-item"> <b>2:00 pm</b> Conferencia xyz.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col s12 m8">
    <div class="row">
      <div class="col s12">
          <div class="card">
              <div class="card-image">
                <img src="http://placeimg.com/660/400/any">
                <span class="card-title">Vídeo</span>
                <a class="btn-floating halfway-fab waves-effect waves-light deep-orange accent-3"><i class="material-icons">local_movies</i></a>
              </div>
            </div>
      </div>
    </div>
    <div class="row bottom-main-view">
      <div class="col s12 m6">
          <div class="card">
              <div class="card-image">
                <img src="http://placeimg.com/340/222/any">
                <span class="card-title">Documentos</span>
                <a class="btn-floating halfway-fab waves-effect waves-light deep-orange accent-3"><i class="material-icons">description</i></a>
              </div>
            </div>
      </div>
      <div class="col s12 m6">
          <div class="card">
              <div class="card-image">
                <img src="http://placeimg.com/340/221/any">
                <span class="card-title">Presentaciones</span>
                <a class="btn-floating halfway-fab waves-effect waves-light deep-orange accent-3"><i class="material-icons">equalizer</i></a>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>